
<div *ngIf="fsTvmazeData?.length > 0;else noItems"></div>
<div  class='container' *ngFor="let tvData of fsTvmazeData">
    <div class='row border' >
        <button (click)="deleteItem1($event,tvData.id)" id="deleteBtn" class="btn btn-danger">Delete</button>
        <div class="col-3">
   
        {{tvData.name}}
          </div>
        <div class='col-3'>
      {{tvData.summary | specialPipe }} 
     
        </div>
        <div class="col-2">
        {{tvData.premiered}}
        </div>
    <div class="col-2">
   <img src="{{tvData.image}}" [style.width.px]='posterImageWidth'/>
    </div>
</div>
</div>
<ng-template #noItems>
    <hr>
    <h5>No Tv shows saved </h5>
</ng-template> 

