
.form-outline
{
    width: 85%;
}
#searchDisplay
{
    background-color:gold;
    
}
.displayDetails
{
    text-align: center;
}

#img
{
    padding-left:42%;
}
#saveBtn
{
    margin-left:70%;  
}





